@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Noto Sans JP";
}

body {
  background-color: #454545;
}

/* Partition lines */
hr {
  background-color: #472681;
  height: 1px;
  border: none;
}

/* All buttons */
button {
  color: #472681;
  background-color: inherit;
  border: none;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

/* Main page container */
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100vw;
  max-width: 700px;
  min-width: 500px;
}

.row {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

/* Card Profile image */
.card-image {
  height: 100%;
  background-size: 100%;
  width: 100%;
  top: 0px;
}
.card-image #back-button {
  margin: 30px;
  position: absolute;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.card-image #back-button #back-icon {
  font-size: 40px;
  margin-right: 5px;
}
.card-image img {
  width: 100%;
}

/* Container for all profile info */
.card {
  position: relative;
  top: -25px;
  z-index: 2;
  background-color: #fff;
  color: #472681;
  padding: 20px 40px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  /* Profile Title/Name */
  /* Statistics container for Patents, Followers, and Following */
  /* Categories container */
}
.card .card-title {
  justify-content: space-between;
  /* Three dots options button */
}
.card .card-title h1 {
  font-size: 60px;
  font-weight: 900;
}
.card .card-title #options-icon {
  font-size: 30px;
}
.card #follow-button {
  width: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  margin: 5px 0 30px 0;
  /* Folow button icon */
  /* Follow button text */
}
.card #follow-button #follow-icon {
  font-size: 18px;
  font-weight: 600;
  border: 3px solid #472681;
  border-radius: 50%;
  padding: 3px;
  margin-right: 5px;
}
.card #follow-button p {
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
}
.card .stats {
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid #472681;
  border-bottom: 1px solid #472681;
  /* div for each Individual Statistic */
}
.card .stats .stat {
  margin: 5px 0;
  text-align: center;
  font-size: 17px;
  font-weight: 800;
  line-height: 1.1;
  /* Span for statistic value to be inserted seperately */
}
.card .stats .stat span {
  font-size: 30px;
  font-weight: 800;
  height: auto;
}
.card .categories {
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  /* Categories title */
  /* Buttons to display more info */
}
.card .categories h3 {
  text-transform: uppercase;
  font-weight: 800;
  margin: 25px 0 10px 0;
  padding-left: 8px;
}
.card .categories button {
  width: 100%;
  text-align: left;
  padding-left: 8px;
  font-size: 35px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 8px;
  border-bottom: 1px solid #472681;
  /* Right arrow buttn icon */
}
.card .categories button i {
  font-size: 40px;
}

/*# sourceMappingURL=style.css.map */
